html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}


::-webkit-file-upload-button {
  background: #46B5CB;
  border-radius:5px;
  color: rgb(255, 255, 255);
  height: 30px;
  width: 140px;
}